.Notification {
  margin: 0;
  padding: 0;
 width: 100%;
 height: auto;
  display: flex;
  align-items: center;
  background-image: url(../../public/76901-email-notification-animation.gif);
  background-repeat: no-repeat;
  background-position:center;
  font-family: sans-serif;
}

.Notification .notifications {
  border: none;
  width: 100%;
}

.Notification .notifications .container {
  flex-direction: column;
  justify-content: left;
  border: none;


}

.Notification .notifications .container .cards {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}






.Notification .notifications .container .cards .card {
  position: relative;
  display: block;
  height: 100%;
  /* border-radius: calc(var(--curve) * 1px); */
  border-radius: 25px;
  overflow: hidden;
  text-decoration: none;
  border: none;
}
.Notification .notifications .container .cards .card img{
  background-color: yellowgreen;
}
.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width:50%;
  height: 50%;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);

}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.card__title {
  font-size: 2em;
  margin: 0 0 .3em;
  color: #6A515E;
  font-weight: bolder;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 1em;
  color: #260373;
}

.card__status {
  font-size: .8em;
  color: #6b69e0;
}

.card__description {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0 2em 2em;
  margin: 0;
  color: #0c0308;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}